Repository Hous-Release/hous-server, pull requests merged in 2023-02, with the labels that each got.

#295 동시에 Todo, Rule 추가 시 트랜잭션 이슈로 실패하는 문제 해결
  docker-compose.yml
  src/main/java/hous/server/domain/room/Room.java
  src/main/java/hous/server/service/room/dto/request/SetRoomNameRequestDto.java
  src/main/java/hous/server/service/rule/RuleService.java
  src/main/java/hous/server/service/rule/RuleServiceUtils.java
  src/main/java/hous/server/service/rule/dto/request/CreateRuleRequestDto.java
  src/main/java/hous/server/service/todo/TodoRetrieveService.java
  src/main/java/hous/server/service/todo/TodoServiceUtils.java
  src/main/java/hous/server/service/todo/dto/request/TodoInfoRequestDto.java
  src/test/java/hous/server/service/rule/RuleServiceTest.java
  src/test/java/hous/server/service/todo/TodoServiceTest.java
Labels: ✅ Test, 🐼 혁준 🐼, 🔧 Fix

#299 #296 [chore] schema.sql, data.sql 추가
  src/main/resources/sql/data.sql
  src/main/resources/sql/schema.sql
Labels: ⚙ Setting, 🐼 혁준 🐼

#302 #301 [fix] Rule 수정시 이름 중복 검사 로직 수정
  src/main/java/hous/server/service/rule/RuleService.java
  src/main/java/hous/server/service/rule/RuleServiceUtils.java
Labels: 🐼 혁준 🐼, 🔧 Fix

#298 cascade 외래키 조건 삭제를 위해 관련 서비스 함수 테스트 코드 추가
  src/main/java/hous/server/service/rule/RuleServiceUtils.java
  src/main/java/hous/server/service/rule/dto/request/DeleteRuleReqeustDto.java
  src/main/java/hous/server/service/user/dto/request/DeleteUserRequestDto.java
  src/test/java/hous/server/service/room/RoomServiceTest.java
  src/test/java/hous/server/service/rule/RuleServiceTest.java
  src/test/java/hous/server/service/todo/TodoServiceTest.java
  src/test/java/hous/server/service/user/UserServiceTest.java
Labels: ✅ Test, 🐣 혜정 🐣
